@import 'tailwind.css';
@import "ember-modal-dialog/ember-modal-structure.css";
@import "ember-modal-dialog/ember-modal-appearance.css";

.ember-modal-dialog {
  width: 800px;
  height: 400px;
  padding: 5%;
  text-align: center;
}

/*body {
  background-image: url('header.png');
}*/

.ember-modal-dialog-start-text {
  margin-top: 5%;
  margin-bottom: 5%;
}


/* ref => https://webdeasy.de/en/top-css-buttons-en/ */
.ember-modal-dialog-start-button {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.ember-modal-dialog-start-button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.ember-modal-dialog-start-button:active {
    color: #000
}

.ember-modal-dialog-start-button:active:after {
    background: transparent;
}

.ember-modal-dialog-start-button:hover:before {
    opacity: 1;
}

.ember-modal-dialog-start-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

